.departement {
  /* fill: transparent; */
  stroke-width: 1px;
  stroke: cornsilk;
  opacity: 0.2;
}

svg g.region path.departement.visited {
  fill: royalblue;
  stroke-width: 1px;
  stroke: navy;
}

.region .departement.visited {
  opacity: 0.5;
}

.region:hover .departement {
  opacity: 0.8;
  fill: gray;
}

.region:hover .departement:hover {
  opacity: 1;
}
